body {
	width: 100%;
	height: 100%;
	background-image: url(img/bg-240.png);
	overflow: hidden;
}

.row {
	width: 100%;
}

.page-header {
	margin-top: 10%;
	margin-left: 43%;
}


a.list-group-item {
	padding-left: 2%;
}

a.list-group-item.checked  label{
	text-decoration: line-through;
}

a.list-group-item.checked {
	background: #eee;
}


